body {
    font-family: 'Poppins', sans-serif !important;
}

/* Header */
.header .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.header .navbar .navbar-brand {
    color: #044B8F;
    font-weight: bolder;
    font-size: xx-large;
}

.header .navbar .navbar-collapse {
    width: 100%;
    justify-content: flex-end;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item {
    font-weight: bolder;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #044B8F !important;
}

.header .bg-light {
    background-color: white !important;
}

@media only screen and (max-width: 992px) {

    /* For mobile phones: */
    .header .navbar .navbar-brand {
        font-size: x-large;
    }
}

/* /Header */

/* Banner */


.banner {
    width: 100%;
    aspect-ratio: 16/6;
    /* background: url('./images/banner.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;

    padding-top: 78px;

}

.banner #banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -40px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner .banner-content {
    position: relative;
    /* max-width: 60%; */
}

.banner .banner-content .small-hr {
    width: 20%;
    height: 2px;
}

.banner .banner-content .banner-btn {
    background-color: #FB6D3D;
    color: white;
}

@media only screen and (max-width: 992px) {

    /* For mobile phones: */
    .banner {
        aspect-ratio: 3/4;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner .banner-content .small-hr {
        width: 30%;
    }
}

/* /Banner */

/* welcome */
.welcome .welcome-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* /welcome */

/* About */
.about {
    padding-top: 88px;
    padding-bottom: 50px;
    background-color: #044B8F;
    color: white;
}

.about .avatar {
    border-radius: 8px;
}

/* /About */

/* Services */
.services {
    padding-top: 88px;
    padding-bottom: 50px;
}

.services .service-container a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/* /Services */

/* Career */
.career {
    padding-top: 88px;
    padding-bottom: 50px;
    /* background-color: #044B8F; */
    background: url('./images/career.jpg') no-repeat center center;
    color: white;
    margin-bottom: 25px;
}
/* Career */

/* contact */
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #044B8F;
    color: white;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact .get-in-touch {
    background-color: white;
    color: #044B8F;
}

.contact .copyright-text {
    width: 100%;
    text-align: center;
}
/* /contact */